.filepond--drop-label{
	height:50vh !important;
	background-color:#ecf0f1 !important;
}

body{
	height:99vh !important;
	background-color:#ecf0f1 !important;
}

.filepond--list .filepond--item{ width:300px; height:300px; }