.filepond--drop-label{
	height:50vh !important;
	background-color:#ecf0f1 !important;
}

body{
	height:99vh !important;
	background-color:#ecf0f1 !important;
}

.filepond--list .filepond--item{ width:300px; height:300px; }

.MuiToolbar-gutters .MuiTypography-root{
	font-family:'Leckerli One', handwriting !important;
}

.filepond--hopper .filepond--credits{
	display:none;
}


/*
url link (vanilla javascript)
*/

.url-container{

	z-index:4;
	text-align:center;
	font-family:'Helvetica Neue';
	font-size:19.8px !important;
	top:101px;
	position:relative;
	background-color:rgba(12,12,12,0.76) !important;
	width: auto;
	user-select: auto;
	padding: 10px
}

