.filepond--drop-label{
	height:50vh !important;
	background-color:#ecf0f1 !important;
}

body{
	height:99vh !important;
	background-color:#ecf0f1 !important;
}

.filepond--list .filepond--item{ width:300px; height:300px; }

.MuiToolbar-gutters .MuiTypography-root{
	font-family:'Leckerli One', handwriting !important;
}

.filepond--hopper .filepond--credits{
	display:none;
}


/*
url link (vanilla javascript)
*/

.url-container{

	z-index:4;
	text-align:center;
	font-family:'apple-system'; 
	font-size:15px !important;
	top:108px;
	position:relative;
	background-color:rgba(30,81,77,0.83) !important;
	width: auto;
	user-select: auto;
	padding: 10px;
	user-select: text !important;
	
}

.url-btn{
	background-color:rgba(79,33,170,0.01) !important;
	border-radius: 5px;
}



